; vim: set fileencoding=utf-8 :
; Thu 18 Aug 12:15:35 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.casme2
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true